/* font styles font-family: 'Poppins'; */
body {
    font-family: 'poppins';
}

/* header section */
header {
    display: flex;
    justify-content: space-evenly;

}

nav ul li {
    display: inline-block;
    position: relative;
    font-size: 16px;
    margin: 0 30px;

}

/* icon */


/* section1 */
.start {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
}

.camera {
    background: url(images/Circle\ design.svg);
}

.one h1 {
    color: #3A3A3A;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;

}

.one p {
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.preebook-btn {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border-radius: 41px;
    background: #E02C6D;
    padding: 10px 24px;
    border: none;


}


/* section2 */
.company img {
    margin-top: 200px;
    margin-left: 110px;
    margin-bottom: 100px;
}

/* section3 */
.section2-title {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;

}

.img-section {
    display: flex;
    color: #18191F;
    font-style: normal;
    font-weight: 500;
    padding: 50px;
    gap: 80px;
    margin-bottom: -70px;
}

.img1 {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: 155px;
    margin-right: -210px;
    padding: 30px;
}

.see-more {
    color: #E02C6D;
    text-align: right;
    margin-right: 190px;
    margin-bottom: 40px;
    font-size: 17px;
}

/* section-4 */
.section-4 {
    display: flex;
    margin-left: 165px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.featured {
    display: inline-block;
    margin-left: 100px;
}

.featured h1 {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;


}

#join-now {
    border-radius: 0;
    padding: 10px 30px;
}

/* section5 */
.foooter {
    background: #0A0826;
    height: 300px;
    color: #FFF;
    text-align: center;


}

.footer-text {
    padding: 20px 0;
}

/* footer */

.icons {
    display: flex;
    margin-left: 650px;
    gap: 40px;

}




/* Responsive */

/* Mobile device size */

@media screen and (max-width:576px) {
    header {
        display: grid;
        justify-content: none;

    }

    .logo {
        margin-left: 100px;
    }

    nav ul li {
        padding: 10px;
    }

    .start {
        display: grid;
        margin-top: 30px;
    }

    .one h1 {
        font-size: 19px;
        text-align: center;
    }

    .one p {
        text-align: center;
        font-size: 12px;
    }

    .preebook-btn {
        font-size: 10px;
        margin-left: 120px;
        
    }

    .camera {
        background: none;
        margin-top: 50px;
        margin-left: 60px;
        height: 250px;
        width: 250px;
    }
    .commpany-icon img{
        padding:30px;
        gap: -30px;
        
    }
    
    
    .section2-title h2{
        font-size: 30px;
        margin-left: 30px;
        
    }
    .img1 {
        margin-left: -28px;
        margin-right: 0px;
    
    }
    .img-section{
        display: grid;
        gap: 20px;
       
    }
    .section-4{
        display: grid;
    }
    .imges img{
        height: 250px;
        width: 250px;
        margin-left: -80px;
    }
    .featured #join-now{
        margin-left: 80px;
    }
    .featured{
        margin-left:-90px;
    }
    .featured h1{
        font-size: 23px;
    }
    .featured p{
        font-size: 10px;
    }
    .icons{
        margin-left: 110px;
    }
}

/* Tablet device size */
@media screen and (min-width:576px) and (max-width:960px){
    header {
        display: flex;
    }

    .start {
        display: flex;
        justify-content: space-around;
        margin-top: 100px;
    }

    .two img {
        width: 200px;
        height: 200px;
    }

    .camera {
        background: none;


    }

    .one h1 {

        font-size: 32px;


    }

    .company img {
        margin-top: 200px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .img-section {
        display: grid;
        grid-template-columns: repeat(2, 2fr);

    }

    .img1 {
        margin-left: -30px;
        margin-right: 80px;
        padding: 20px;
    }

    .imges img {
        width: 200px;
        height: 200px;
    }

    .imges {
        margin-left: -0px;

    }

    .featured h1 {
        font-size: 30px;
    }

    .featured p {
        font-size: 13px;
    }

    .featured {
        margin-left: 40px;
    }

    .icons {
        margin-left: 370px;
    }

}